body {
  background-color: #d4d4d4;
}
table {
  table-layout: fixed;
  width: 100%;
  border: solid 1px black;
}
table th {
  background-color: #e6e6e6;
  border: solid 1px black;
  text-align: left;
}
table tr:nth-child(even) {
  background-color: #e6e6e6;
}
thead {
  display: table-header-group;
}
tfoot {
  display: table-footer-group;
}
#pageFooterCounter:after {
  #counter-increment: page;
  #content: counter(page);
#}