body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #454545;
}
header {
  background-color: #23396E;
  color: white;
}
#logo {
  background-color: white;
  float: left;
  padding: 20px;
}
footer {
  background-color: #23396E;
  color: white;
}

nav {
  margin-left: 33px;
}
nav a {
  display: inline-block;
  padding: 41px 33px 39px 18px;
  text-decoration: none;
  font-size: 26px;
  font-weight: bold;
  color: #666;
}
nav a:hover {
  background: #454545;
  color: #fff;
}
nav ul li {
  height: 112px;
  color: white;
  /* Change text flow to left */
  float:left;
  /* Remove bullets */
  list-style-type:none;
  /* Change distance */
}
main {
  clear: both;
  border: 1px solid #454545;
  border-radius: 3px;
  padding: 20px;
  margin: 33px;
}
main a {
  color: #454545;
}
main table {
  font-size: 11px;
  margin-top: 20px;
}
main table thead td {
  background-color: #f5f5f5;
  padding: 4px 10px;
}
main table tbody td {
  padding: 4px 10px;
}
main .box {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 30px;
}
main input {
  background-color: #f5f5f5;
  border: 0;
  padding: 5px 10px;
}
main input[type="submit"] {
  background-color: #ccc;
  cursor: pointer;
}
main input[type="submit"]:hover {
  background-color: #222;
  color: #fff;
}
main button {
  background-color: #ccc;
  border: 0;
  padding: 5px 10px;
  cursor: pointer;
}
main button:hover {
  background-color: #222;
  color: #fff;
}
footer {
  border-radius: 3px;
  padding: 20px;
  margin: 33px;
  text-align: right;
  font-size: 11px;
}
footer a {
  color: #454545;
}
ul.actionList li {
  /* Remove bullets */
  list-style-type: none;
  background-color: #297ACC;
}

ul.actionList a {
  color: white;
}